footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 20px 100px;
    justify-content: space-between;
}

.desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.copyright {
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}

.left-footer {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: justify;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.left-footer img {
    width: 150px;
    height: 150px;
}

.right-footer {
    width: 45%;
    text-align: justify;
}