.team-wrapper {
    margin: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.team-card {
    display: flex;
}

.team-row {
    display: flex;
    justify-content: space-between;
}

.team-card img {
    width: 150px;
    height: 150px;
    background-size: cover;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10%;
}

.team-desc {
    padding-left: 10px;
}